:root{
    --primary-color:#00964e;
    --primary-color-light:rgb(123, 205, 0);
    --logo-red-color:rgb(226, 72, 101);
    /* --primary-color:#3A0256; */
    --primary-hover-color:#6c03a0;


    /* for slider color */
    --plyr-color-main: #111dbc;
    --banner-front-color:rgb(253, 172, 57);
}