.product_view_section{
    width: 100%;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
}
.product_view_section .centered_desc{
    max-width: 1100px;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product_view_section .centered_desc .desc_left{
    /* background: linear-gradient(to bottom, var(--primary-hover-color) 0%, var(--primary-color) 100%); */
    width: 40%;
    display: flex;
    position: relative;
}
.product_view_section .centered_desc .desc_left img{
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: 100%; 
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.product_view_section .centered_desc .desc_right{
    position: relative;
    padding: 25px;
    padding-top: 50px;
    width: 70%;
}
.product_view_section .centered_desc .desc_right .name_price{
    /* border: 1px  solid red; */
    border-left: 3px solid var(--primary-hover-color);
    padding-left: 5px;
}
.product_view_section .centered_desc .desc_right .name_price h3{
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.product_view_section .centered_desc .desc_right .name_price p{
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color:var(--primary-color);
}
.product_view_section .centered_desc .desc_right .description,
.product_view_section .centered_desc .desc_right .features{
    padding-left: 5px;
    margin-top:20px;
}
/* _________________________________________________________ right_desc  part*/
.product_view_section .centered_desc .desc_right .features{
    margin-top: -10px;
}
.product_view_section .centered_desc .desc_right .features h5,
.product_view_section .centered_desc .desc_right .description h5{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.product_view_section .centered_desc .desc_right .description p{
    color: rgba(0, 0, 0, 0.534);
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin-top: -10px;
}

.product_view_section .centered_desc .desc_right .features ul{
    margin-top: -10px;
    padding-left: 10px;
}
.product_view_section .centered_desc .desc_right .features li{
    color: rgba(0, 0, 0, 0.534);
    font-weight: 600;
    font-size: 14px;
    list-style: none;
    margin-bottom: 5px;
}

/* _________________________________________________________ right_desc  part*/
.product_view_section .centered_desc .desc_right .rate{
    width: fit-content;
    position: absolute;
    top: 20px;
    right:50px;
}
.product_view_section .centered_desc .desc_right .rate a:hover{
    color:var(--primary-color);
}
.product_view_section .centered_desc .desc_right .rate a{
    text-decoration: none;
    font-size: 20px;
    color: #cbcbcb;
}
.product_view_section .centered_desc .desc_right .rate .active{
    color: var(--primary-color);
}

/* _________________________________________________________ right_desc  part*/
.product_view_section .centered_desc .desc_right .pricing{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 35px;
}
.product_view_section .centered_desc .desc_right .pricing .pricing_part{
    width: 100%;
    margin: auto;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.product_view_section .centered_desc .desc_right .pricing .pricing_part p{
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}
.product_view_section .centered_desc .desc_right .pricing .pricing_part .value{
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
}
.product_view_section .centered_desc .desc_right .pricing .left_border{
    border-left: 0.5px solid rgba(0, 0, 0, 0.346);
}
.product_view_section .centered_desc .desc_right .button_section{
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.product_view_section .centered_desc .desc_right .button_section button{
    padding: 10px;
    border: none;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(to bottom, var(--primary-hover-color) 0%, var(--primary-color) 100%);
    color:rgba(240, 248, 255, 0.66);
}
.product_view_section .centered_desc .desc_right .button_section img{
    height: 20px;
    width: 20px;
    opacity: 0.5;
}
.product_view_section .centered_desc .desc_right .button_section button:hover{
    background: linear-gradient(to bottom, var( --plyr-color-main) 0%, var(--primary-color) 100%);
}
.product_view_section .centered_desc .desc_right .button_section button:hover img{
    opacity: 1;
}
.product_view_section .centered_desc .desc_right .button_section button:hover{
    color: aliceblue;
}
.product_view_section .centered_desc .desc_right .button_section .share_icon{
    position: absolute;
    right:10px;
    top:20px;
}




@media (max-width:700px) {
    
    .product_view_section .centered_desc{
        display: block;
    }
    .product_view_section .centered_desc .desc_part{
        width: 100%;
    }
    .product_view_section .centered_desc .desc_left {
        padding: 20px;
    }
    .product_view_section .centered_desc .desc_left img{
        width: 200px;
        height: auto;
        margin-left:0px;
        border-radius: 10px;
    }
    .product_view_section .centered_desc{
        position: relative;
    }
    .product_view_section .centered_desc .name_price{
        position: absolute;
        top:-11rem;
        left:240px;
    }
    .product_view_section .centered_desc .name_price h3{
        font-size: 15px;
    }
    .product_view_section .centered_desc .name_price .price{
        font-size: 13px !important;
    }
    .product_view_section .centered_desc .desc_right .rate{
        top: -8rem;
        left:240px;
    }
    .product_view_section .centered_desc .desc_right{
        padding-top: 5px;
        width: 100%;
    }
}

@media (max-width:450px){
    .product_view_section .centered_desc .desc_left img{
        width: 150px;
    }
    .product_view_section .centered_desc .name_price{
        position: absolute;
        top:-10rem;
        left:180px;
    }
    .product_view_section .centered_desc .desc_right .rate{
        top: -7rem;
        left:180px;
        width: 200px;
    }
    .product_view_section .centered_desc .desc_right .pricing .pricing_part{
        padding-left: 2px;
    }
    .product_view_section .centered_desc .desc_right .pricing .pricing_part p{
        font-size: 12px;
    }
    .product_view_section .centered_desc .desc_right .features li{
        margin-top: 8px;
    }
}
@media (max-width:350px){
    .product_view_section .centered_desc .desc_right .pricing {
        display: block;
    }
    .product_view_section .centered_desc .desc_right .pricing .pricing_part{
        display: flex;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.254);
        border-left: transparent;
        position: relative;
        margin-bottom: 7px;
    }
    .product_view_section .centered_desc .desc_right .pricing .pricing_part .value{
        position: absolute;
        right:5px;
    }
}

