
.software_section{
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
}
.software_section .centered_list{
    max-width: 1000px;
    width: 100%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    border-radius: 10px;
    margin: auto;
    padding: 35px;
} 
  .software_section .order_center .order_headline{
    padding-bottom: 20px;
  }
  .software_section .order_center .no_post_msg{
    border-bottom:1px solid gray;
    color: rgba(0, 0, 0, 0.604);
    
  }
  
    /* ___________________ order details start */
    .enroll_container{
      height: auto;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
    } 
    .collapsible-header {
      background: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-bottom: none;
      display: flex;
      position: relative;
      border-left: 5px solid var(--skin-color-1);
    }
    

    @media screen and (max-width: 1500px){
      .giver_jobs .giver_jobs_heading,
      .expandable-list{
        width: 100%;
      }
    }
    
    
  .expandable-item {
    background: rgb(177, 177, 177);
    box-sizing: border-box;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    height: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .expandable-item:first-of-type{
    border-radius: 5px 5px 0 0;
  }
  
  .expandable-item:last-of-type{
    border-radius: 0 0 5px 5px;
  
  }
  
  .expandable-header {
    position: relative;
    height: 100%px;
    font-weight: bolder;
  }
  
  .expandable-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: rotateZ(45deg);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    transition: all .3s;
  }
  
  .expandable-item.active .expandable-icon{
  transform: rotateZ(0);
  }
  
  .expandable-icon .line {
    width: 15px;
    height: 2px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all .4s;
  }
  
  
 .expandable-body {
    background-color: rgb(243, 243, 243);
    overflow: hidden;
    padding: 0 1em;
    transition: all .5s ease-in-out;
    height: 0px;
    border-left: 5px solid var(--skin-color-1);
  }
  
  .expandable-item.active .expandable-body {
    height: 140px;
  }
  .expandable-item.active .software {
    height: 180px;
  }
  
  .expandable-item .expandable-body .drop_text{
      display: flex;
      padding: 10px;
      gap: 10px;
    }
    .expandable-item .expandable-body .drop_text .drop_section{
      background-color: aliceblue;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 10px;
      width: 80%;
    }
    .expandable-item .expandable-body .drop_text .file_section{
      width: 20%;
    }
    .expandable-item .software .drop_text .file_section{
      width: 40%;
    }
    .expandable-item .expandable-body .drop_text .drop_section label{
      font-weight: 700;
    }

    .expandable-item .expandable-body .drop_text .drop_section ul li,
    .expandable-item .expandable-body .drop_text .drop_section p{
      font-size: 13px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.552);
    }

    .expandable-item .expandable-body .drop_text .drop_section .file_box{
      background-color: rgb(232, 234, 234);
      display: flex;
      border: 1px solid black;
      height: 100%;
      border-radius: 5px;
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .software_datetime{
      padding: 5px; 
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .software_datetime label{
      font-size: 13px;
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .software_datetime p{
      padding-bottom: 5px;
      margin: 0;
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .file{
      margin: auto;
      width: auto;
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .file img{
      height: 40px;
      width: 40px;
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .file button{
      border: 1px solid black;
      padding: 3px;
      padding-left: 7px;
      padding-right: 7px;
      border-radius: 5px;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .file button:hover{
      background-color: var(--primary-color);
      color:aliceblue;
    }




  .expandable-item.active .expandable-icon .line:nth-child(1) {
    transform: rotateZ(0deg);
  }
  
  .expandable-item.active .expandable-icon .line:nth-child(2) {
    transform: rotateZ(180deg);
  }

  
  .expandable-item .expandable-body .expand_button{
    position: relative;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .expandable-item .expandable-body .expand_button button{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--skin-color-1);
    float: right;
    border-radius: 7px;
    color: var(--skin-color-1);
    cursor: pointer;
    font-weight: 600;
  }

  .expandable-item .expandable-body .expand_button button:hover{
    background-color: var(--skin-color-1);
    color: aliceblue;
  }



.collapsible-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.collapsible-container .collapsible-section{
    margin-bottom: 25px;
    border-left: 5px solid var(--skin-color-1);
}
  

.collapsible-header .enr_img{
    padding: 5px;
}
.collapsible-header .enr_img img{
    height: 100px;
    max-width: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.collapsible-header .header_info{
    display: flex;
    width: 100%;
    gap: 10px;
  }
  .collapsible-header .header_info .section_part{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
  }
  .collapsible-header .header_info .title p{
    font-size: 13px;
  }
  .software_section .header_info .price_section{
    text-align: right;
    padding-right: 10px;
  }
  .collapsible-header .header_info .button_part{
    width: 100px;
    padding: 0;
  }


.software_section .header_info .custom p{
  cursor: pointer;
  border: 2px solid rgb(25, 158, 246);
  width: fit-content;
  font-size: 13px;
  padding: 3px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-bottom: 1px !important;
  border-radius: 5px;
}
.software_section .header_info .custom p:hover{
  background-color: rgb(25, 158, 246);
  color: aliceblue;
}
.collapsible-header .header_info .section_part label{
    color: rgba(0, 0, 0, 0.674);
    font-size: 12px;
    font-weight: 600;
} 
.collapsible-header .header_info .section_part p{   
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.collapsible-header .section_part .down_icon{
  background-color: rgb(212, 212, 212);
  position: relative;
  text-align: center;
  height: 100%;
  width: 100px;
  padding-top: 15px;
  padding: 5px;
}
.collapsible-header .section_part .down_icon button{
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 15px;
  width: 100%;
  font-weight: 600;
}
.collapsible-header .section_part .down_icon button:hover{
  background-color: var(--primary-color);
  color: aliceblue;
}
.collapsible-header .down_icon .up_down_arrow{
  display: flex;
  color: rgba(0, 0, 0, 0.493);
  height: 70%;
}
.collapsible-header .down_icon .up_down_arrow .icon{
  margin: auto;
}

.collapsible-header .down_icon .up_down_arrow:hover{
    color: black;
}



    @media screen and (max-width: 720px){
      .collapsible-header{
        display: block;
      }
      .collapsible-header .enr_img {
        padding-left: 20px;
        padding-top: 10px;
        width: 100%;
      }
      .collapsible-header .enr_img img{
        height: auto;
        width: 100%;
      }
      .collapsible-header .header_info{
        display: block;
        width: 100%;
      }
      .collapsible-header .section_part{
        padding: 0px;
        border: none;
      }
      .software,
      .collapsible-header .section_part .up_down_arrow,
      .collapsible-header .header_info .custom,
      .collapsible-header .header_info .price_section{
        display: none;
      }
      .collapsible-header .header_info .button_part{
        width: 100%;
      }
      .collapsible-header .section_part .down_icon{
        padding: 0px !important;
        height: auto;
        width: 100%;
        background-color: transparent;
      }
      .collapsible-header .section_part .down_icon button{
        width: 100%;
      }

      /* .collapsible-header .header_info .section_part label{
        font-size: 9px;
      } 
      .collapsible-header .header_info .section_part p{   
        font-size: 10px;
      }
      .expandable-item.active .expandable-body {
        height:320px;
      }
      .expandable-item.active .software {
        height: 470px;
      }
      .expandable-item .expandable-body .drop_text{
        display: block;
        width: 100%;
    } */
    /* .expandable-item .expandable-body .drop_text .file_section,
    .expandable-item .expandable-body .drop_text .drop_section{
      width: 100%;
    }


    .expandable-item .expandable-body .drop_text .drop_section .file_box{
      display: flex;
      height: auto;
      border-radius: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .expandable-item .expandable-body .drop_text .drop_section .file_box .file{
      margin: auto;
      width: auto;
    } */

  }
  
  /* ___________________ order details end */
  
  
  
  
  
  .contact-btn {
      background-color: var( --primery-color);
  }
  
  /* navbar */
  
  .nav-link:hover {
      background-color: var( --primery-color);
      color: #fff !important;
      transition: all 0.5s ease-in-out;
  }
  
  .nav-link {
      color: var( --primery-color) !important;
      font-size: 18px !important;
  }
  
  .social-fb:hover {
      color: rgb(0, 183, 255);
  }
  
  .social-yt:hover {
      color: rgb(231, 17, 17);
  }
  
  /* footer */
  
  footer {
      background-image: linear-gradient(180deg, #363643 0, #110e17 100%);
  }
  
  .footer-logo {
      width: 60%;
  }
  
  .footer-text {
      color: #d1cfcf;
      text-align: start;
  }
  
  .footer-link {
      color: #d1cfcf;
      display: block;
      font-weight: 500;
      line-height: 25px;
  }
  
  .social-links-top-right {
      justify-content: end;
  }
  
  /* order track */
  
  .root {
      position: relative;
      display: block;
      margin: 0 auto;
  }
  
  .product-info {
      border-bottom: 1px dashed var( --primery-color);
  }
  
  .product-img {
      border-radius: 50%;
      border: 1px solid var( --primery-color);
  }
  
  .title {
      font-size: 1.4rem;
      font-weight: 500;
  }
  
  .track__category {
      font-size: 1rem;
      font-weight: 300;
  }
  
  .price {
      font-size: 1.6rem;
      font-weight: 500;
  }
  
  .status {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 3px;
  }
  
  .date {
      font-size: 1rem;
      font-weight: 300;
  }
  
  .progress-steps {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
  
  .progress-steps li>span {
      position: relative;
      width: 40px;
      height: 40px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1em;
      border-radius: 50%;
      background-image: linear-gradient(to bottom, #E1F7F5, #1E0342, #0E46A3);
      z-index: 1;
  }
  
  .progress-steps li {
      position: relative;
      display: flex;
      align-items: flex-start;
      margin-bottom: 2em;
  }
  
  .progress-steps li:not(:last-child)::before {
      content: '';
      position: absolute;
      left: 20px;
      right: 30px;
      width: 2px;
      height: 100px;
      background-image: linear-gradient(to bottom, #0E46A3, #1E0342, #E1F7F5);
  }
  
  @media (max-width: 992px) {
      .contact-btn {
          display: none !important;
      }
  
      .nav-item .nav-link {
          border-bottom: 2px solid var( --primery-color);
      }
  
      .nav-item .nav-link {
          border-bottom: 2px solid var( --primery-color);
      }
  
      .custom-padding {
          padding-left: 2rem !important;
          padding-right: 2rem !important;
      }
  
      .social-links-top-right {
          justify-content: center;
      }
      .collapsible-header .buy_button svg{
        margin-top: -3px;
      }
  
  }
  
  @media (max-width: 576px) {
    .software_section .order_center {
      width: 100%;
    }
  
    .collapsible-header .header_info{
      display: block;
      padding: 10px;
      width: 100%;
      gap: 10px;
    }
    .expandable-header .collapsible-header .enr_img{
      padding-top: 25px;
    }
    .collapsible-header .buy_button{
      display: none;
    }
    .software_section .header_info .section_part{
      padding-top: 15px;
    }
    
  
  
    .software_section{
      width: 100%;
      padding: 0px;
    }
    
    .software_section .order_center {
      max-width:100%;
      width:100%;
    }
    .software_section .order_center {
      padding-left:0px;
      padding-right:0px;
    }
  
  
  
  
  
      .nav-item .nav-link {
          font-size: 16px !important;
      }
  
      .nav-link {
          font-size: 16px !important;
      }
  
      .footer-elements {
          padding-top: 3rem;
          padding-left: 3rem;
      }
  
      .footer-logo {
          width: 30%;
      }
  
      .footer-text {
          max-width: 70%;
      }
  
      .status {
          font-size: 1rem;
      }
  }






  /* ____________________________ custom features popup form start */
  .btn-close {
    cursor: pointer;
    position: relative;
    right: -5px;
    top: 5px;
    margin: 3px;
    width: 20px;
    height: 20px;
    float: right;
  }
  
  .clear {
    clear: both;
  }
  
  .btn-close::before,
  .btn-close::after {
    content: "";
    height: 2px;
    display: block;
    background: #d6d6d6;
  }
  
  .btn-close::before {
    margin-top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .btn-close::after {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .btn-close:hover:after, .btn-close:hover:before {
    background: #FF8CB4;
  }
  
  .buy_popup_section {
    display: flex;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    background: rgba(25, 18, 12, 0.472);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .buy_popup_section.open {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  
  .centered_popup_section {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    max-height:80vh;
    overflow:scroll;
    width: 800px;
    padding-bottom: 25px;
    position: relative;
    margin: auto;
    background: #e8e8e8;
    background: -webkit-linear-gradient(bottom, #e8e8e8, #fff);
    background: -o-linear-gradient(bottom, #e8e8e8, #fff);
    background: linear-gradient(to top, #e8e8e8, #fff);
    box-shadow: 0px 16px 16px -6px rgba(47, 46, 38, 0.5);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-transform: scale(0.7);
    /* IE 9 */
    -webkit-transform: scale(0.7);
    /* Safari */
    transform: scale(0.7);
    border-radius: 5px;
  }
  
  .buy_popup_section.open .centered_popup_section {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari */
    transform: scale(1);
  }
  
  .content {
      text-align: center;
    }
      
      .content .details_box {
        background-color:#d6d6d6;
        padding: 5px;
        border-radius: 5px;
        width: 100%; /* Optional: Limit the width of the box */
        margin: 0 auto; /* Center the box */
      }
      
      .content .details_box .list {
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Align items to the left */
        padding: 5px;
        margin-bottom: 0px;
      }
      
      .content .details_box .list label {
        width: 120px; /* Adjust label width for consistent alignment */
        text-align: left; /* Align text inside the label */
        font-weight: 600;
        font-size: 14px;
      }
      
    
      .content .details_box .list select,
      .content .details_box .list p {
        flex: 1; /* Make the input take the remaining space */
        padding: 0;
        margin: 0;
        border-radius: 5px;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.649);
      }
      
      #checkboxContainer {
        position: relative;
        padding-left: 5px;
      }
      
      #checkboxContainer input[type="checkbox"] {
        margin-right: 100%;
      }
      #checkboxContainer span{
        position: absolute;
        left:30px;
        top:0px;
        font-size: 14px;
        font-weight: 600;
      }

      .button_section{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
      }
      .button_section input{
        width: 100%;
        padding: 2px;
        font-weight: 600;
        border: none;
        background-color: var(--primary-color);
        color: aliceblue;
        border-radius: 3px;
      }
      .button_section input:hover{
        background-color: var(--primary-hover-color);
      }
      
      
    
  @media screen and (max-width: 425px) {
    .centered_popup_section {
      width: 100%;
      height: 70%;
      padding: 0;
    }
  
    .btn-close {
      right: 5px;
    }
  }
  
  /* ____________________________ custom features popup form end */


  /* ____________________________ custom featur input field add start */
  .feature_box{
    /* border: 1px solid red; */
    padding: 10px;
    padding-top: 25px;
  }
  .feature_box .feature_heading{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
  }
  .feature_box .input_fields_wrap>div{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
  }
  .feature_box textarea{
    width: 100%;
    outline: none;
    padding: 5px;
    border-radius: 5px;
  }
  .feature_box .remove_field{
    width: 100px;
    text-align: center;
    text-decoration: none;
  }
  .feature_box .remove_field p{
    border: 1px solid rgba(255, 0, 0, 0.615);
    color: rgba(255, 0, 0, 0.615);
    font-weight: 600;
    border-radius: 3px;
  }
  .feature_box .remove_field p:hover{
    background-color: rgba(255, 0, 0, 0.615);
    color: aliceblue;
  }
  .feature_box .add_feature{
    width: 100%;
    display: flex;
    align-items: left;
  }
  .feature_box .add_field_button{
    width: fit-content;
    border: 1px solid green;
    background-color: green;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    color: aliceblue;
  }
  .feature_box .add_field_button:hover{
    background: transparent;
    color:green;
  }
  @media screen and (max-width: 725px) {
    .feature_box .input_fields_wrap>div{
      display: block;
    }
    .feature_box .input_fields_wrap>div textarea{
      margin-bottom: 5px;
    }
  }
  /* ____________________________ custom featur input field add end */
