/* __________________________________ top bar start */
.sticky_bar{
    width: 100%;
    height:auto;
    position:fixed; 
    top:0;
    left:0;
    z-index:1000;
    background-color:transparent;
    transition: background-color 0.3s ease;
}
.sticky_bar.scrolled {
    background-color: aliceblue; /* New background color */
    box-shadow: 0px 15px 10px -15px #111;    
}
#logo_black{
    display: none;
}
.sticky_bar>div{
    width: 100%;
}
.sticky_bar .bg-first .container{
    width: 100%;
    padding: 5px;
}
.sticky_bar .top-contacts{
    display: flex;
}
.sticky_bar .top-contacts>div{
    display: flex;
}
.sticky_bar .top-contacts .mail_num{
    width: 90%;
}
.sticky_bar .top-contacts .user_part{
    width: 10%;
}
.sticky_bar .top-contacts .user_part>div{
    width: 100%;
}
.sticky_bar .top-contacts div a{
    display: flex;
    float: right;
    color: white;
    width: fit-content;
    text-decoration:none;
}
.sticky_bar.scrolled .top-contacts div a{
    color: black;
}

.sticky_bar .top-contacts .mail_num a{
    margin-right: 10px;
    display: flex;
}
.sticky_bar .top-contacts .mail_num a svg{
    margin: auto;
    margin-right: 5px;
}
.sticky_bar .top-contacts .user_part>div a span{
    color: white;
    width: 100%;
    text-align: right;
}
.sticky_bar.scrolled .top-contacts .user_part>div a span{
    color:black;
}
.sticky_bar .top-contacts>div a{
    display: flex;
}
.header_bar  .navbar a{
    padding-top:0px; 
    padding-bottom:0px;
}


.header_bar  .navbar a img{
    height:auto;
    max-width:180px;
    width: 100%;
}

.offcanvas-body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    padding: 20px; 
    justify-content:right; 
    align-items:end;
}

.offcanvas-body .navbar-nav {
    flex-grow: 0; 
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: fit-content;
}
.offcanvas-body .navbar-nav li{
    margin-left: 10px;
    color: white;
}
.offcanvas-body .navbar-nav li a{
    color: white !important;
}
.offcanvas-body .nav-item .nav-link {
    color: white !important;
    font-size: 18px !important;
    border: 2px solid transparent;
}
.offcanvas-body .nav-item .nav-link:hover {
    background-color: var(--primary-color-light) !important;
    color: #fff !important;
    transition: all 0.5s ease-in-out;
}
.sticky_bar.scrolled .offcanvas-body .nav-item .nav-link{
    color: var(--primary-color) !important;
    background: transparent !important;
}
.sticky_bar.scrolled .offcanvas-body .nav-item .nav-link:hover {
    border: 2px solid var(--primary-color);
}
.offcanvas-body .nav-item .dropdown-toggle {
    border:none !important;
}
.offcanvas-body .nav-item .dropdown-toggle:hover{
    background:transparent !important;
}
.offcanvas-body .navbar-nav .active{
    background-color: var(--primary-color);
    border-radius: 5px;
}
.sticky_bar.scrolled .offcanvas-body .navbar-nav .active a{
    color: aliceblue !important;
}
/* .offcanvas-body .navbar-nav .active{
    color: aliceblue !important;
} */

@media (max-width: 995px) {
    .sticky_bar .max-width .custom-padding{
        padding: 0px!important;
    }
    .sticky_bar .top-contacts{
        display: flex !important;
        padding-right: 10px;
        padding-left: 10px;
    }
    .offcanvas-body .navbar-nav {
        width: 100%;
    }
    .offcanvas-body .navbar-nav li{
        margin-left: 0px;
    }
    .navbar-nav .nav-item{
        width: 100%;
    }
    .offcanvas-body .nav-item .nav-link {
        color: var(--primary-color)!important;
    }
    .sticky_bar .offcanvas-body .navbar-nav .active a{
        color: aliceblue !important;
    }    
    .header_gap{
        height: 60px;
        width: 100%;
    }
    .offcanvas-body ul li{
        line-height: 2;
    }
}

@media (max-width: 550px) {
    .sticky_bar .top-contacts .mail_num .phone_number{
        display: none;
    }
    .header_bar  .navbar a img{
        height:auto;
        max-width:120px;
        width: 100%;
    }
}
/* __________________________________ top bar end */




/* __________________________________ header bar start */

.offcanvas-body .navbar-nav{
    padding-right:5px;
    display: flex;
}
.offcanvas-body ul li ul li{
    line-height: 2;
}
.offcanvas-body .navbar-nav .dropdown{
    padding: 0 !important; 
}
.offcanvas-body .navbar-nav .dropdown-menu{
    padding: 10px;
}
.offcanvas-body .navbar-nav .dropdown-menu h4{
    color: var(--primary-color);
}
.offcanvas-body .navbar-nav .dropdown-menu .d-flex span,
.offcanvas-body .navbar-nav .dropdown-menu li a{
    font-size: 17px !important;
    color: black !important;
}

.user_name{
    max-width:120px;
    width:100%;
    height:auto;
    font-size:15px; 
    overflow:hidden;
    margin-top:15px;
}
    

.navbar-nav{
    display:flex;
}
.nav-item{
    margin:auto;
}
.nav-item .nav-link { 
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding:8px;
} 
.nav-item .nav-link:hover{
    background:transparent;
}

.custom-padding{
    padding:0px !important;
}


/* __________________________________ header bar end */



.header_gap{
    height: 80px;
    width: 100%;
}

@media (max-width: 550px) {
    .header_gap{
        height: 60px;
        width: 100%;
    }
}


