
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    accent-color: var(--primary-color); 
}
button[type="submit"]{
    background-color: var(--primary-color); 
    color:aliceblue;
    border:1px solid  var(--primary-color); 
}
button[type="submit"]:hover{
    background:transparent;
    border:1px solid  var(--primary-color); 
}

.hero {
    background-image: linear-gradient(to bottom, #000000,  var(--primary-color));
    padding-top: 10rem;
}
.shapes-container #left-box,
.shapes-container #right-box{
    /* border-bottom: 20vh solid var(--primary-color-light); */
    border-bottom: 20vh solid var(--primary-color-light);
}

.page_head_text{
    height:auto;
    width: 100%;
    padding-top:25px;
    font-size:35px;
}
.page_head_text h1{
    width: 100%;
    text-align:center;
    color: var(--primary-color);
}

.reg_button{
    padding-left:10px;
    padding-right:10px;
    padding:20px;
    background-color:var(--primary-color-light);
    border:2px solid var(--primary-color-light);
    border-radius:10px;
    font-size:25px;
    font-weight:700;
    text-shadow: 1px 1px 2px #000000;
}
.reg_button:hover{
    background-color:var(--primary-color);
}
.iframe-wrapper iframe{
    border:5px solid var(--primary-color);
}


/* _________________ form */
.my-5 .container{
    max-width: 1000px;
    width: 100%;
    
}
.container .card .card-header h3{
    color: var(--primary-color);
    font-weight:900;
}

/* _________________ FAQ START  */
.faq {
    background-image: linear-gradient(to bottom, #000000,  var(--primary-color));
}
.faq .container .faq-heading{
    color: aliceblue;
    background-color: var(--primary-color);
}
.faq .button_section{
    width: 100%;
    display: flex;
    padding-bottom: 35px;
}
.faq .button_section .justify-content-center{
    margin: auto;
}

