.software_section{
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
}
.software_section .centered_list{
    max-width: 1000px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    margin: auto;
    padding: 35px;
}
.software_section .centered_list .soft_heading h3{
    border-left: 3px solid var(--primary-color);
    padding-left: 10px;
    color: var(--primary-color);
}

.software_section .centered_list ol li{
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 600;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.279);
}

.software_section .centered_list ol li:hover{
    background-color: rgb(226, 226, 226);
}



