.relevent_section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.relevent_section .product_heading{
    max-width: 1100px;
    margin: auto;
    display: flex;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.relevent_section .product_heading h1{
    font-weight: 700;
    font-size: 25px;
}
.relevent_section .product_heading h1,
.relevent_section .product_heading p{
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}
.relevent_section .product_heading p{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.523);
}

.relevent_section .product_heading .view_all_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.relevent_section .product_heading .view_all_btn a{
    text-decoration: none;
}
.relevent_section .product_heading .view_all_btn button {
    border: 1px solid var(--primary-color-light);
    background-color:var(--primary-color-light);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
}
.relevent_section .product_heading .view_all_btn button svg{
    margin-left: 10px;
    height: 17px;
    width: 17px;
    margin-top: 3px;
}
.relevent_section .product_heading .view_all_btn button:hover{
    background: transparent;
    color: black;
}


/* ______________________________ carousol start */
.relevent_product_card_carousol {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    height: auto;   
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}

.relevent_product_card_carousol .glide{
    border-radius: 0px;
    background-color: transparent;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.relevent_product_card_carousol .glide .glide__track{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.relevent_product_card_carousol .glide .glide__slide_li{
    width: 300px !important;
    border: none;
    padding: 10px;
    background-color: transparent;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background:transparent;
    width: 300px !important;
    height: 400px !important;
    border-radius: 10px !important;
    border: 0.5px solid rgba(0, 0, 0, 0.242);
    background-color: white;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .part{
    height: 55%;
    width: 100%;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .part img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc{
    height: 45%;
    padding-top: 10px;
    padding: 15px;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc h5{
    width: 100%;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    max-height: 30px;
    height: 100%;
}
/* ____________________ view details start */

.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section{
    margin-top: 5px;
    display: flex;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section>div{
    width: 50%;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section .left{
    display: flex;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section .left p{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    color: var(--primary-color-light);
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section .left p svg{
    fill: var(--primary-color-light);
    margin-left: 10px;
    height: 15px;
    width: 15px;
    margin-top: 2px;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section .left p:hover{
    color: crimson;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section .left p:hover svg{
    fill:crimson;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section .right{
    text-align: right;
    font-weight: 600;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .details_section .right span{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.534);
}

/* ____________________ view details end */




/* ____________________ price start */
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section{
    margin-top: 5px;
    display: flex;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .left{
    font-size: 15px;
    color: var(--primary-color-light);
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .left:hover{
    color: crimson;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section>div{
    width: 50%;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section{
    margin-top: 5px;
    display: flex;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section>div{
    width: 50%;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .left{
    display: flex;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .left p{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    color: var(--primary-color-light);
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .left p svg{
    fill: var(--primary-color-light);
    margin-left: 10px;
    height: 15px;
    width: 15px;
    margin-top: 2px;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .left p:hover{
    color: crimson;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .left p:hover svg{
    fill:crimson;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .right{
    text-align: right;
    font-weight: 600;
    color: var(--primary-color);
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .price_section .right span{
    font-weight: 600;
    color: var(--primary-color);
    /* font-size: 12px; */
    /* color: rgba(0, 0, 0, 0.534); */
}

/* ____________________ price end */




.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .button_price{
    display: flex;
    gap: 5px;
    padding-top: 20px;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .button_price>div{
    width: 100%;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .button_price .price{
    padding-top: 0px;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    display: flex;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .button_price .btn{
    padding: 0px;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .button_price button{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    height: 18px;
    color: aliceblue;
    background-color: var(--primary-color-light);
    border: 2px solid var(--primary-color-light);
    /* text-shadow: 0.5px 0.5px 1px #000000; */
    height: 100%;
    font-weight: 600;
    width: 100%;
    border-radius: 7px;
}
.relevent_product_card_carousol .glide .glide__slide_li .relative .desc .button_price button:hover{
    background: transparent;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.relevent_product_card_carousol .glide__arrows .glide__arrow:hover{
    color: rgb(1, 1, 1);
}
.relevent_product_card_carousol .glide__arrows .arrow_color{
    color: aliceblue;
}
@media (max-width: 420px) {
    .relevent_product_card_carousol .glide .glide__slide_li{
        width: 250px !important;
    }
    .relevent_product_card_carousol .glide .glide__slide_li .relative{
        background:transparent;
        border-radius: 0px;
        width: 250px !important;
        height: 350px !important;
    }
    .relevent_section .product_heading{
        padding-left: 10px;
        padding-right: 10px;
    }
    .relevent_section .product_heading h1{
        font-weight: 600;
        font-size: 15px;
    }

    .relevent_product_card_carousol .glide .glide__slide_li .relative{
        height: 405px !important;
    }
  }
/* ______________________________ carousol end */
