.whole_banner{
    height: 80vh;
    width: 100%;
    position: relative;
    display:flex;
    padding-top:3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whole_banner .bg_mobile{
    display: none;
}
.whole_banner .banner_bg_img{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    border-bottom-right-radius: 100px;
}
.whole_banner .centered_banner{
    margin: auto;
    display: flex;
    height: 80%;
    max-width: 1150px;
    width: 100%;
    z-index: 100;
}
.whole_banner .centered_banner .banner_part{
    width: 50%;
    height: 100%;
    display: flex;
}
.whole_banner .centered_banner .part_right{
    padding:1rem;
}
/* .whole_banner .centered_banner .part_right .image_box{
    margin: auto;
    min-height: 300px;
    height: 100%;
    min-width: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.167);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top:10%;
    padding-left:10%;
    position: relative;
    border: 1px solid red;
} */

/* ___________________landing posrter poster 2nd option start*/
.whole_banner .centered_banner .part_right .image_box{
    margin: auto;
    height: 500px !important;
    width: 550px !important;
    border-radius: 20px;
    position: relative;
}
.whole_banner .centered_banner .part_right .image_box img{
    height: 350px;
    width: 320px;
    position: absolute;
    transition: transform 1.5s;
}
.whole_banner .centered_banner .part_right .image_box img:hover {
    transform: scale(1.09);
}
.whole_banner .centered_banner .part_right .image_box .hexa1{
    top: 15px;
    left: 5%;
}
.whole_banner .centered_banner .part_right .image_box .hexa2{
    top: 15px;
    left: 55%;
}
.whole_banner .centered_banner .part_right .image_box .hexa3{
    top: 50%;
    left: 30%;
}
@media (max-width: 1485px) {
    .whole_banner .centered_banner .part_left{
        padding-top: 0px;
    }
    .whole_banner .centered_banner .part_right .image_box{
        height: 450px !important;
    }
    .whole_banner .centered_banner .part_right .image_box img{
        height: 250px;
        width: 220px;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa1{
        top: 5px;
        left: 7%;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa2{
        top: 5px;
        left: 50%;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa3{
        top: 45%;
        left: 28.5%;
    }
}
@media (max-height: 750px){
    .whole_banner .centered_banner .part_right .image_box{
        height: 450px !important;
    }
    .whole_banner .centered_banner .part_right .image_box img{
        height: 300px;
        width: 270px;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa1{
        top: 5px;
        left: 7%;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa2{
        top: 5px;
        left: 50%;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa3{
        top: 45%;
        left: 28.5%;
    }
}

@media (max-width: 550px){
    .whole_banner .centered_banner .part_right .image_box{
        height: 300px !important;
        width: 300px !important;
    }
    .whole_banner .centered_banner .part_right .image_box img{
        height: 180px;
        width: 150px;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa1,
    .whole_banner .centered_banner .part_right .image_box .hexa2{
        top: 12px;
    }
}
@media (max-height: 720px){
    .whole_banner .centered_banner .part_right .image_box{
        height: 300px !important;
        width: 300px !important;
    }
    .whole_banner .centered_banner .part_right .image_box img{
        height: 180px;
        width: 150px;
    }
    .whole_banner .centered_banner .part_right .image_box .hexa1,
    .whole_banner .centered_banner .part_right .image_box .hexa2{
        top: 12px;
    }
}

/* .whole_banner .centered_banner .part_right .image_box .box1{
    height: 48%;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}
.whole_banner .centered_banner .part_right .image_box .box2{
    height: 48%;
    width: 100%;
    display: flex;
    gap: 10px;
}
.whole_banner .centered_banner .part_right .image_box .box1 img,
.whole_banner .centered_banner .part_right .image_box .box2 img{
    border-radius: 10px;
}
.whole_banner .centered_banner .part_right .image_box .box1 img{
    height: 100%;
    margin: auto;
}
.whole_banner .centered_banner .part_right .image_box .box1 .img1{
    width: 60%;
}
.whole_banner .centered_banner .part_right .image_box .box1 .img2{
    width: 40%;
}
.whole_banner .centered_banner .part_right .image_box .box2 img{
    height:100%;
    margin: auto;
}
.whole_banner .centered_banner .part_right .image_box .box2 .img3{
    width: 40%;
}
.whole_banner .centered_banner .part_right .image_box .box2 .img4{
    width: 55% !important;
} */
/* ___________________landing posrter poster 2nd option end*/

.whole_banner .centered_banner .part_right .img_shadow{
    height: 70%;
    width: 70%;
    border: 2px solid var(--primary-color-light);
    top:20%;
    left:20%;
    position: absolute;
    border-radius: 10px;
    border-bottom-right-radius: 70px;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* .whole_banner .centered_banner .part_right .image_box img{
    border-radius: 10px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 80%;
    width: 80%;
    border: 2px solid var(--primary-color-light);
} */
.whole_banner .centered_banner .banner_part .banner_text{
    height: 200px;
    width: 100%;
    margin: auto;
}
.whole_banner .centered_banner .banner_part .banner_text h1{
    font-weight: 700;
    color:aliceblue;
    text-shadow: 1px 1px 2px #000000;
    font-size: 50px;
}
.whole_banner .centered_banner .banner_part .banner_text h1 span{
    color:var(--primary-color-light);
}
.whole_banner .centered_banner .banner_part .banner_text p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color:rgba(255, 255, 255, 0.809)
}

@media (max-width: 1485px) {
    .whole_banner .centered_banner .banner_part {
        display: flex;
    }
    .whole_banner .centered_banner .banner_part .banner_text{
        height: 200px;
        margin: auto;
    }
    .whole_banner .centered_banner .banner_part .banner_text h1{
        font-size: 30px;
    }
    .whole_banner .centered_banner .banner_part .banner_text p{
        font-size: 15px;
    }
}

.whole_banner .centered_banner .button_part{
    margin-top: 3rem;
    display: flex;
    gap:10px;
}

.whole_banner .centered_banner .button_part button{
    width: 150px;
    border: 1.5px solid var(--primary-color-light);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--primary-color-light);
    background-color: transparent;
}
.whole_banner .centered_banner .button_part button:hover{
    background-color: var(--primary-color-light);
    color:aliceblue;
}
.whole_banner .centered_banner .button_part .active{
    background-color: var(--primary-color-light);
    color: aliceblue;
    text-shadow: 0.5px 0.5px 1px #000000;
}
.whole_banner .centered_banner .button_part .active:hover{
    background-color: rgb(132, 244, 52);
    color:black;
    text-shadow: 0.5px 0.5px 1px #00000001;
}

/* __________________________ page button part start */

.page_button_part{
    display: flex;
    gap:10px;
    margin-bottom: 3rem;
}

.page_button_part .page_buttons{
    width: fit-content;
    height: auto;
    margin: auto;
    display: flex;
    gap:25px;
 }
 .page_button_part .page_buttons button{
    width: 150px;
    border: 1.5px solid var(--primary-color-light);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--primary-color-light);
    background-color: transparent;
}

.page_button_part .page_buttons button:hover{
    background-color: var(--primary-color-light);
    color:aliceblue;
}

.page_button_part .page_buttons .active{
    background-color: var(--primary-color-light);
    color: aliceblue;
    text-shadow: 0.5px 0.5px 1px #000000;
}
.page_button_part .page_buttons .active:hover{
    background-color: rgb(132, 244, 52);
    color:black;
    text-shadow: 0.5px 0.5px 1px #00000001;
}
/* __________________________ page button part end */



/* __________________________ PACKAGE SECTION START */
.package_section{
    width:100%;
    height: 100px;
    margin-bottom: 25px;
    background: linear-gradient(to right, 
        rgba(255, 0, 0, 0), /* Start transparent */
            #00964d7e, /* Middle full color */
        rgba(255, 0, 0, 0) /* End transparent */
    );
    display: flex;
}
.package_section .middle_package{
    max-width: 350px;
    width: 100%;
    height:auto;
    margin: auto;
    padding: 20px;
    display: flex;
    font-size: 20px;
    border-radius: 10px;
    /* border: 2px solid var(--primary-color-light); */
}
.package_section .middle_package p{
    font-weight: 600;
}
.package_section .middle_package p,
.package_section .middle_package svg{
    color:  rgb(0, 0, 0);
    margin: auto;
}
.package_section .middle_package:hover p{
    color: aliceblue;
    text-shadow: 0.5px 0.5px 1px #000000;
}
/* __________________________ PACKAGE SECTION END */

.bg-image {
    /* The image used */
    background-image: url("photographer.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  @media (max-width: 1100px) {
    .whole_banner .banner_bg_img{
        border-bottom-right-radius: 0px;
    }
    .whole_banner{
        height: 100%;
    }
    .whole_banner .centered_banner{
        margin: auto;
        display: block;
        margin-top: 5rem;
    }
    .whole_banner .centered_banner .banner_part{
        width: 100%;
    }

    .whole_banner .centered_banner .part_right{
        display: flex;
        padding: 10px;
    }
    .whole_banner .centered_banner .part_left{
        padding-left: 10px;
        padding-right: 10px;
    }
    .whole_banner .centered_banner .part_right .image_box{
        width: 100%;
    }
    .whole_banner .bg_desktop{
        display: none;
    }
    .whole_banner .bg_mobile{
        display: block;
    }
    /* .whole_banner .centered_banner .part_right .image_box{
        margin: auto;
        height: auto;
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.167);
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
        position: relative;
    } */
    .whole_banner .centered_banner .part_right .image_box{
        height: 200px;
        width: 100%;
        border-radius: 20px;
        position: relative;
        margin: auto;
    }
    .whole_banner .centered_banner .banner_part .banner_text h1{
        font-size: 25px;
    }
    .whole_banner .centered_banner .banner_part .banner_text p{
        font-size: 12px;
    }

}
/* 
@media (max-width: 350px) {
    .whole_banner .centered_banner .part_right .image_box{
        margin: auto;
        height: 280px;
        width: 280px;
    }
} */
